import type { Metadata } from 'next';
<% if (uiLibrary === 'Tailwind CSS') { %>import './globals.css';
<% } %>
export const metadata: Metadata = {
  title: '<%= className %>',
  description: '<%= projectName %>',
};

export default function RootLayout({
  children,
}: {
  children: React.ReactNode;
}) {
  return (
    <html lang="en">
      <body>{children}</body>
    </html>
  );
}
